{% extends 'layout.twig' %}

{% block content %}

    <h2>Change Password</h2>

    <form action="{{ path_for('user-password-change') }}" method="post">

        <div class="form-group {% if errors.current_password %}has-error{% endif %}">
            <label class="control-label" for="current_password">Old Password:</label>
            <input type="text" class="form-control" name="current_password" value="{{ user.current_password }}"  />
            {% if errors.current_password %}<span class="help-block">{{ errors.current_password.0 }}</span>{% endif %}
        </div>

        <div class="form-group {% if errors.new_password %}has-error{% endif %}">
            <label class="control-label" for="new_password">New Password:</label>
            <input type="text" class="form-control" name="new_password" value="{{ user.new_password }}"  />
            {% if errors.new_password %}<span class="help-block">{{ errors.new_password.0 }}</span>{% endif %}
        </div>

        <div class="form-group {% if errors.confirmed_password %}has-error{% endif %}">
            <label class="control-label" for="confirmed_password">Confirm Password:</label>
            <input type="text" class="form-control" name="confirmed_password" value="{{ user.confirmed_password }}"  />
            {% if errors.confirmed_password %}<span class="help-block">{{ errors.confirmed_password.0 }}</span>{% endif %}
        </div>

        <hr>

        <input type="hidden" name="csrf_name" value="{{ csrf.name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf.value }}">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-default" href="{{ path_for('user-edit') }}">Cancel</a>

    </form>

{% endblock %}
