{% extends 'layout.twig' %}

{% block content %}

    <div class="row">
        <h2>All Places</h2>
    </div>

    {% if places %}
        <div class="row">

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Suburb</th>
                        <th>Postcode</th>
                        <th>Category</th>
                        <th>Tag ID</th>
                        <th>Modify</th>
                    </tr>
                </thead>
                <tbody>
                    {% for idx, place in places %}
                        <tr>
                            <td>{{ place.name }}</td>
                            <td>{{ place.address }}</td>
                            <td>{{ place.suburb }}</td>
                            <td>{{ place.postcode }}</td>
                            <td>{{ place.short }}</td>
                            <td>{{ place.tag_id }}</td>
                            <td>    
                                <a class="btn btn-info" href="{{ path_for('places-show', {'id':place.place_id})}}">Show</a>
                                <a class="btn btn-success" href="{{ path_for('places-edit', {'id':place.place_id})}}">Edit</a>
                                <a class="btn btn-danger" href="{{ path_for('places-delete', {'id':place.place_id})}}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

            <div class="well">
                <a class="btn btn-primary" href="{{ path_for('places-add')}}">Add New Place</a>
            </div>
        </div>
    {% else %}
        <div class="well">
            <h5>No places found</h5>
            <a class="btn btn-primary" href="{{ path_for('places-add')}}">Add New Place</a>
        </div>
    {% endif %}    
{% endblock %}{# empty Twig template #}
