{% extends 'layout.twig' %}

{% block content %}
    <div class="well">
        <h2>Do you really want to delete {{ place.name }}?</h2>
    </div>
    <div class="well">    
        <h3>Name: {{ place.name }}</h3>
        <h3>Address: {{ place.address }} {{ place.suburb }}</h3>
        <h4>{{ place.name }}will be deleted! Ary you sure?</h4>
    </div>
    
    <div class="well">    
        <form action="{{ OK_link }}" method="post">
        <input type="hidden" name="csrf_name" value="{{ csrf.name }}">
        <input type="hidden" name="csrf_value" value="{{ csrf.value }}">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-warning" href="{{ path_for('places-all') }}">Cancel</a>
    </div>
    </form>

{% endblock %}
